<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task</title>
	<style>
		header, nav, main, footer {
			max-width: 1200px;
			margin: 0px auto;
		}
		#bod{
			max-width: 1200px;
			margin: 0px auto;
		}
		
		#rightPanel
		{
			float: right;
			right:0px;
			height: 500px; 
			width: 200px;
			background: grey;
		}
		#content
		{
			margin-right: 200px;
			background: green;
		}
		.content
		{
			max-width: 1200px;
			margin: 0px auto;
			float: left; 
			width: 25%;
			height: 100px;
			background: yellow;
			word-wrap: break-word;
			/*margin-left: 3px;*/
		}
		#buttonUp
		{
			bottom:10px;
			left:10px;
			background-size;
		}
		#remBut
		{	
			float:right;
			bottom:0px;
			right:0px;
		}
		img
		{
			width: 50px;
			height: 50px;
		}		
		#addDiv
		{
			position:fixed;
			bottom:20px;
		}
				
		@media(max-width: 1100px)
		{
			#rightPanel
			{
				display:none;
			}
			#content
			{
				margin: 0 !important;
			}
			.content
			{
				width: 25%;
			}
		}
		@media(max-width: 768px)
		{
			.content
			{
				width: 50%;
			}
		}
	</style>
</head>
<body style="margin: 0px; background: #b792b1">

	<header style="height: 100px; background: red">Header</header>
	<div class="bod" id="bod">
		<div style="line-height: 20px;background: blue">Hello, World</div>
		
		<div id="rightPanel">Panel</div>
		
		<div id="content">
			<% data.forEach(function(datum) {%>
				<div class="content" id=<%= "content"+datum.id %>>
					<span><%= datum.text %></span>
					<button id="remBut" onclick="removeData(<%= datum.id%>)">x</button>
				</div>
			<% }); %>
		</div>

		<div id="addDiv">
			<div id ="buttonUp" class="button"><a href="#" id="up"><img src="http://i1155.photobucket.com/albums/p559/scrolltotop/arrow7.png"></img></a></div>
			<input id="input" type="text"/>
			<button id="create" onclick="create()">add</button>
		</div>
	</div>	
	<script type="text/javascript">
		function getLastAddedKey() {
			return doGetRequest('/getLastAddedKey')};
	
		function doGetRequest(text) {
		var request = new XMLHttpRequest();
		request.open('GET', text,false);
		request.send();
		if (request.status != 200) {
			console.log(request.status + ': ' + request.statusText);
			return;
		} else {
			return JSON.parse(request.response).id;
		}
	};
	
		function create(){
			var text = document.getElementById('input').value;
			var request = new XMLHttpRequest();
			request.open('POST', '/new?text='+text);
			request.send();
			var newDiv = document.createElement('div');
			var id = getLastAddedKey('text='+text);
			newDiv.setAttribute('class','content');
			newDiv.setAttribute('id','content'+id);
			newDiv.innerHTML = '<span>'+text+'</span>'+
				'<button id="remBut" onclick="removeData('+id+')">x</button>';
			document.getElementById('content').appendChild(newDiv);
			document.getElementById('input').value='';
		}
		
		function removeData(id){
			var request = new XMLHttpRequest();
			request.open('POST', '/delete?id='+id);
			request.send();
			document.getElementById('content'+id).remove();
		}
		
		window.onscroll=function(){
		var pageY = window.pageYOffset;
		if (pageY > 120) {
				document.getElementById('rightPanel').style.position='absolute';
                document.getElementById('rightPanel').style.top='0px';
            } else {
                document.getElementById('rightPanel').style.position='relative';
				document.getElementById('rightPanel').style.top='';
            }
        };
		document.getElementById('buttonUp').addEventListener("click",function (time, acceleration) {

				window.scrollTo(0, 0);
				return false;
			});
	</script>
</body>
</html>
